#root {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  padding-right: 0;
  text-align: center;

  .mobile-view {
    display: none;
  }

  @media (max-width: 767px) {
    .intro-modal {
      display: none;
    }
    .mobile-view {
      display: block;
    }
  }
}
